body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.searchInput{
  width: 31vw
}
.nav-pills{
 
  border-bottom: 1px solid grey;
  position:fixed;
  width: 100%;
  top:0;
  background-color: white;
}
.mainPart{
  margin-top:150px;
}
.icon{
  font-size: 2.5em;
  color: green;
}
.fa-shopping-card{
  color: green;
}
@media(max-width: 400px){
 .productImage{
   height: 28vh;
   width: 58vw;
 }
}
@media(min-width: 401px){
  .productImage{
    height :25vh;
    width:30vw
  }
  .nav-pills{

  }
  .icon{
    font-size:1.5em;
    
  }
}
@media(min-width:577px){
.productImage{
  height: 18vh;
  width:28vw
}
}
@media(min-width:990px){
  .productImage{
    height: 15vh;
    width: 20vw;
  }
}
@media(min-width:1050px){
 .productImage{
   height: 18vh;
   width: 18vw;
 }
}
@media(min-width:1440px){
  .productImage{
    height: 22vh;
    width: 17vw;
  }
}
@media(min-width: 1560px){
  .productImage{
    height: 19vh;
    width: 14vw;
  }
}
@media(min-width: 1850px){
  .productImage{
    height: 17vh;
    width: 13vw;
  }
}
@media(min-width: 2000px){
  .productImage{
    height: 12vh;
    width: 10vw;
  }
}
button.cartDeleteButton{
  position:absolute;
  right:5px;
  top:8px;
  background-color: red;
  color: white;
  border: 1px red
}
.cartQuantityButtons{
  position: absolute;
  right: 81px;
  padding-left: 20px;
  
}
.cartProductPrice{
  margin-right:10px;
}
.cartQuantityButtons>button:first-of-type{
  background-color: green;
  color: white;
}
.cartQuantityButtons>button:last-of-type{
  background-color: green;
  color: white;
}
.cartContent{
  padding-top: 20px;
  width: 50%;
  position: fixed;
  top: 113px;
  right: 0px;
  



}